{
  "jsc": {
    "baseUrl": ".",
    "paths": {
      "@/*": ["./src/*"]
    },
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "target": "es2016"
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": false
}
